<div class="summaryChart">
    <h2 id="subjectName" >{{subject.name}}</h2>
    <div class="summaryContent">
        <p>{{subject.profile_assignment}} </p>
        <div id="chart">testtesttesttesttesttesttesttesttest</div>
    </div>

 </div>