<div class="summaryChart">
    <h2>{{name}}</h2>
    <div class="summaryContent">
        <p>{{profile_assignment}} </p>
        <div id="chart">testtesttesttesttesttesttesttesttest</div>
    </div>

 </div>