<h2>About this Project</h2>
<h3>About the Author</h3>
<h4>From Wikipedia</h4>
<div>
    Dan Korem (born November 6, 1952) is an American investigative journalist, author, documentary producer,[1] speaker, and researcher. His focus is issues and practical applications related to snapshot behavioral reads. He is the author of several books, including: Snapshot - Reading and Treating People Right the First Time (2015), The Art of Profiling: Reading People Right the First Time, Expanded 2nd Edition (2012), Rage of the Random Actor - Disarming Catastrophic Acts and Restoring Lives (2005), Suburban Gangs: The Affluent Rebels (1995), and Streetwise Parents, Foolproof Kids (1992)
</div>
<h3>About this Project</h3>
<div>
    This started as a homework assignment developed by Ellen Walsch, Nhat Nguyen, and Joshua Norris. It is developed to assist a person in their reading skills by creating a database to store and display information about the people they read. It is based on the 1997 edition of "The Art of Profiling" by Dan Korem.
</div>
