<form>
        <div id="addQuestion">
            <input
        type="text"
        placeholder="Enter Question"
        name="newQuestion"
        id="newQuestion"
        required
      />
      <button type="submit" id="createQuestion">Create Question</button>
        </div>
</form>

<script src="/js/createQuestion.js"></script>
