<form>
        <div id="addSubject">
            <input
        type="text"
        placeholder="Enter Subject Name"
        name="newSubject"
        id="newSubject"
        required
      />
      <button type="submit" id="createSubject">Create Subject</button>
        </div>
</form>
<script src="/js/createSubject.js"></script>