<form id="addQuestion">
  <div id="addQuestion">
    <input
      type="text"
      placeholder="Enter Question"
      name="newQuestion"
      id="newQuestion"
      required
    />  
  </div>
  <div id="addQuestionType">
    <input type="radio" id="newQuestionType" name="type" value="1" required>
    <label for="type1">Emotions</label>
    <input type="radio" id="newQuestionType" name="type" value="2">
    <label for="type2">Thoughts</label>
    <input type="radio" id="newQuestionType" name="type" value="3">
    <label for="type3">Confidence</label>
    <input type="radio" id="newQuestionType" name="type" value="4">
    <label for="type3">Consistency</label>
  </div>
  <div
    <button type="submit" id="createQuestion">Create Question</button>
  </div>
</form>

<script src="/js/createQuestion.js"></script>
