<div class="home">
    <button id="addSubject">+ Subject</button>
    <button id="addQuestion">+ Question</button>

    {{#each subjects as |subject|}}
    {{> profile-summary}}
    {{/each}}

</div>
<script src="/js/homepage.js"></script>
