<div class="home">
    <div id="btnHome">
        <button id="addSubject">+ Subject</button>
        <button id="addQuestion">+ Question</button>
    </div>

    {{#each subjects as |subject|}}
    {{> profile-summary}}
    {{/each}}

</div>
<script src="/js/homepage.js"></script>
