<div class="home">
    <button id="addSubject">+ Subject</button>

    {{!-- {{#each }}
    {{> profile-summery}}
    {{/each}} --}}
<div class="summary">
    <h2>Nhat</h2>
    <div class="typeSummary">
        <p>Type1: 5</p>
        <p>Type2: -2</p>
        <p>Type3: 3</p>
        <p>Type4: 0</p>
    </div>
</div>
</div>