<div id="btnlistquestionpage">

{{#each questions as |question|}}

<button id="deleteQuestion" data-id="{{question.id}}"> {{question.question}}</button>

{{/each}}
</div>
<script src="/js/deletequestion.js"></script>