<main class="login">
<<<<<<< HEAD
  <form class="form login-form">
=======
  <form class="login-form">
>>>>>>> main
    <div>
        <h2>Login</h2>
      <label for="email-login"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="username"
        id="email-login"
        required
      />
      <label for="password-login"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="password"
        id="password-login"
        required
      />
      <button type="submit" id="loginBtn">Login</button>
    </div>
  </form>

<<<<<<< HEAD
  <form class="form signup-form">
=======
  <form class="signup-form">
>>>>>>> main
    <div>
        <h2>Sign Up</h2>
      <label for="email-signup"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="username"
        id="email-signup"
        required
      />
      <label for="password-signup"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="password"
        id="password-signup"
        required
      />
      <button type="submit" id="signUpBtn">Sign Up</button>
    </div>
  </form>
</main>
<<<<<<< HEAD
<script src="/js/loginSignup.js"></script>
=======

<script src="./js/login.js"></script>
>>>>>>> main
