<main class="login">
  <form class="login-form">
    <div>
        <h2>Login</h2>
      <label for="username"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="username"
        id="username"
        required
      />
      <label for="password"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="password"
        id="password"
        required
      />
      <button type="submit" id="loginBtn">Login</button>
    </div>
  </form>

  <form class="signup-form">
    <div>
        <h2>Sign Up</h2>
      <label for="username"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="username"
        id="newUsername"
        required
      />
      <label for="password"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="password"
        id="newPassword"
        required
      />
      <button type="submit" id="signUpBtn">Sign Up</button>
    </div>
  </form>
</main>

<script src="./js/login.js"></script>