<section id="questionType">
    <h2>Ask a Question</h2>
    <div>
    <button id="type1">Type1</button>
    <button id="type2">Type2</button>
    <button id="type3">Type3</button>
    <button id="type4">Type4</button>
</div>
</section>

<section id="questionForm">
    <h2>How is your day?</h2>
    <div>
        <input type="range" min="-5" max="5" step="1">
        <br>
        <button type="submit" id="questionSubmit">Submit</button>
    </div>
</section>
<script src="/js/question.js"></script>