<div id="subjectProfile">
    {{> profile-chart}}

<section id="questionType">
    <h2>Ask a Question</h2>
    <div>
    <a href="/questions/1">
    <button id="type1">Emotions</button>
    </a>
    <a href="/questions/2">
    <button id="type2">Thoughts</button>
    </a>
    <a href="/questions/3">
    <button id="type3">Confidence</button>
    </a>
    <a href="/questions/4">
    <button id="type4">Consistency</button>
    </a>
    </div>
</section>
{{> questiondisplay}}
