<div id="subjectProfile">
    {{!-- {{ > subject}} --}}
    <div class="summary">
        <h2>{{subject.Name}}</h2>
            <p>Profile</p>
    </div>

    <a href="/questions" id="askQuestion">Ask Question</a>
</div>