<div id="subjectProfile">
<<<<<<< HEAD
    {{!-- {{ > subject}} --}}
    <div class="summary">
        <h2>{{subject.Name}}</h2>
            <p>Profile</p>
    </div>
=======
    {{> profile-chart}}
>>>>>>> main

    <a href="/questions" id="askQuestion">Ask Question</a>
</div>