<div id="subjectProfile">
    {{!-- {{ > subject}} --}}
    <div class="summary">
        <h2>{{subject.Name}}</h2>
            <p>Profile</p>
    </div>

    <button id="askQuestion">Ask Question</button>
</div>