<div id="info">
    <h2>Tips for Successful Reads</h2>
    <h3>Read Overall Persona while looking for Leakage</h3>
    <p>When we observe a persons overall persona, we don't look for one specific action over another. We compare them to our range standards on the gauge.</p>
    <p>Leakage is when there is a break in Consistency in a persons actions that leaks out or doesn't fit</p>
    <h3>Test Your Reads, Create Positive and Negative Assumption</h3>
    <p></p>
    <h3>Past Behavior: Best Predictor of Future Behavior</h3>
    <p>People typically act in consistent, similar ways called traits</p>
    <h3>Under Pressure, one's traits are typically revealed</h3>
    <p>We prefer to use traits or actions with which we are most comfortable, thus resorting to them in pressure</p>
    <h3>First Reads can be Productive</h3>
    <p>Use your first read to create as many hunches as possible</p>
    <h3>People can Learn Actions Outside their Actual Trait or Type</h3>
    <p>Many of us can learn and master an action that is outside of our trait and type inventory of actions</p>
    <p>Anything worth measuring is worth measuring twice</p>
    <h3>Unobtrusive Reads are the most Effective</h3>
    <p>In most situations profiling accuracy can be enhanced by making unobtrusive reads, which are reads that we make in the background or indirectly.</p>
    <p>Use open ended, non threatening questions</p>
    <h3>Environment and Time</h3>
    <p>Plot points can change from sustained stress, which forces adaptation. Or an immediate response to a lifechanging situation.</p>
    <p>It is estimated that 20% of the US adult population is undergoing a plotted point change.</p>
    <h3>Learn to Read your Opposite Traits and Types</h3>
    <p>We must first respond to the fact that people typically have difficulty reading people who possess traits different from ourselves.</p>
</div>
